#flexbox-containers {
    display: flex;
}
html {
    font-family: 'Raleway', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#accomodations {
    width: 200px;
    color: #0065FC;
    text-decoration: none;
} 

#activities {
    width: 120px;
    color: grey;
    text-decoration: none;
}

#sign_up {
    width: 90px;
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
}

h1 {
  font-size: medium;
}

#pin {
    position: relative;
    background-color:#F2F2F2 ;
    height: 46px;
    width: 35px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#location_pin {
    position: relative;
    top: 12px;
    left: 10px;
}
#search_bar {
    display: flex;
    border: thin #F2F2F2;
    
}
#search {
    
    height: 40px;
    margin-left: 1px;
}
.filtersdiv {
    
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
  }

  .fas {
    
    color: #0065FC;
    background-color: #DEEBFF;
  }
  .fas:hover {
    color: darkred;
    transform: scaleX(1.021)
    
  }
  .lowcost {
    display: flex;
    text-decoration: none;    
  }  
  .Filters {    
    display: flex;     
    justify-content: center; 
    text-decoration: none;    
  }
  footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
  .firstfoot {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
  }
  a:hover {
    transform: scaleX(1.021);
  }

  a:link {
    color: rebeccapurple;
  }
  
  #rightfoot {
    margin-right: 10%;
  }



/* dark blue = #0065FC
font-family: 'Raleway', sans-serif;
background-color: #F2F2F2
/* a:link {
    color: rebeccapurple;
  }
  a:hover {
    color: red;
    transform: scaleX(1.021);
  }

