#flexbox-container {
    display: flex;
}
html {
    font-family: 'Raleway', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#accomodations {
    width: 200px;
    color: #0065FC;
} 

#activities {
    width: 120px;
    color: grey;
}

#sign_up {
    width: 90px;
    color: #0065FC;
    font-weight: bold;
}
#div {
    display: flex;
}

#pin {
    position: relative;
    background-color:#F2F2F2 ;
    height: 40px;
    width: 35px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#location_pin {
    position: relative;
    top: 12px;
    left: 10px;
}
#search_bar {
    display: flex;
}
#search {
    border:none;
    height: 40px;
    margin-left: 1px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 2.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      "Filters Low-Cost Family-friendly Romantic Pets-allowed"
      ". . . . .";
  }
  
  .Filters { grid-area: Filters; }
  
  .Low-Cost { grid-area: Low-Cost; }
  
  .Family-friendly { grid-area: Family-friendly; }
  
  .Romantic { grid-area: Romantic; }
  
  .Pets-allowed { grid-area: Pets-allowed; }
  
/* dark blue = #0065FC
font-family: 'Raleway', sans-serif;
background-color: #F2F2F2