html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
a:hover {
  transform: scaleX(1.021);
}
.fas {
  color: #0065FC;
}
/* Header styling starts here*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header li a {
  font-weight: 500;
  font-size: large; 
  text-decoration: none;
  color: #0065FC;
}

nav {
  margin-right: 45px;
}
.nav_links {
  display: flex;
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: rebeccapurple;
  text-decoration: overline;
  position: relative;
  bottom: 3px;
}
#li_activ {
  color: black;
}
.logo {
  height: 50px;
  cursor: pointer;
  margin-left: 60px;
  margin-right: auto;
}
header #hideme {
  display: none;
}
@media screen and (max-width:768px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
  header #hideme {
    display: initial;
    color: #0065FC;
    font-size: large;
    position: relative;
    right: 30px;
    top: 20px;
  }
  #signup {
    display: none;
  }
  .logo {
    display: flex;
    margin-right: auto;
    margin-left: 0;
    padding-left: 20px;
    margin-top: 20px;
  } 
  .nav_links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .nav_links a {
    color: #0065FC;
    font-size: 1.2em;
  }
  #li_activ {
    margin-left: 20%;
    margin-right: .2rem;
  }
  header nav {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
/* Header styling ends here */
/*Top section styling starts here */
.top_section {
  display: block;
  margin-left: 1em;
  margin-left: 60px;
}
.top_section h1 {
  font-size: 20.7px;
}
@media screen and (max-width:768px) {
  .top_section h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 900;
  }
  .top_section {
    margin: 20px;
    position: relative;
    bottom: .5em;
  }
}
/*Top section styling ends here */
/*Search Bar styling starts here */
#search_bar {
  margin: 60px;
  display: flex;
  border: thin #F2F2F2; 
  width: 100%;   
}
#search {
  height: 50px;
  margin-left: 1px;
  width: 250px;
}
#pin {
  position: relative;
  background-color:#F2F2F2 ;
  height: 56px;
  width: 50px;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
#location_pin {
  position: inherit;
  top: 16px;
  left: 16px;
  min-width: 1.3rem;
  max-width: 1.4rem;
}
#search_button {
  color: white;
  border-style: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #0065FC;
  font-weight: bold;
}
@media screen and (max-width:768px) {
  #search_bar {
    width: 100%;
    padding: 0%;
    margin-left: 20px;
    margin-top: 0%;
  }
  #search_button {
    border-radius: 1rem;
    position: relative;
    right: 10px;
  }
  #search {
    height: 56px;
    border-right: transparent;
    border-left: transparent;
    border-top: solid;
    border-bottom: solid;
    border-width: .3px;
    border-color: #f2f2f2;
  }
  #pin {
    height: inherit;
  }
}
/*Search bar styling ends here */
/*Filters styling starts here */
#filtersdiv :hover {
  transform: scaleX(1.021)
}
.filter_wrapper {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.filter_wrapper p {
  font-weight: 900;
}
.filter_wrapper li {
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-right: 60px;
  border-style: solid;
  border-color: #f2f2f2;
  border-width: 1px;
  border-radius: 1rem;
}
.filter_wrapper a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding-right: 10px;
}
.filter_wrapper .fa-lg {
  color: #0065FC;
  margin-right: 5px;
  background-color: lightblue;
  border-radius: 2rem;
}
/*Filters styling ends here */
#imagewrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  margin-left: 2em;
  margin-right: 2em;
  background-color: white;
  width: 100%;
}
.imageonediv {
  border-top: 3rem;
}

/* Popular section */

#mostpop {    
  font-size: x-large;
  font-weight: bold;                              
  margin-left: 2em;
}
.popular_cards {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin: 2.7em 3em 1.5em 3em;
  width: 80%;
  height: 160px;
}
.popular_images {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin: 0.4em 0em 0.4em 0.4em;
  aspect-ratio: 16 / 9;
  max-width: 28%;
}
.popular_text {
  display: table-column;
  text-align: left;
  margin: 0em .5em .4em 1.5em;
}
.popularcontainer {
  display: block;
  margin-left: 2em;
  border-radius: 1rem;
  background-color: #F2F2F2;
  width: 30%;
}

/* Accomodations Section */
/* Cards start here */
.cards {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
}
.cards h2 {
  text-align: left;
  margin-left: 35px;
}
.card_title {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}
/* Accomodations cards start here */
.accomodations_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
}
.cardswrapper {
  margin-left: 2em;
  background-color: #F2F2F2;
  border-radius: 1rem;
  width: 65%;
}
.card {
  background-color: white;
  padding: 5px;
  width: 250px;
  margin: 20px 20px 20px 20px;
  border-radius: 1rem;
}
.card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.fa-star {
  margin-left: 15px;
  margin-bottom: 5px;
}
.greystar {
  color: #f2f2f2;
}
.cards h3 {
  display: block;
  margin-left: 35px;
  font-size: larger;
}
.card h2 {
  padding: 20px;
  margin-left: 35px;
}
a {
  text-decoration: none;
}
.card p {
  margin-left: 15px;
}
.card h4 {
  font-size: large;
  margin-left: 15px;
}
@media screen and (max-width:768px) {
  .cardswrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
/* Most popular cards start here */

@media screen and (max-width:768px) {
  .accomodations_container {
    display: block;
  }
}
/* Activities section */

.activities_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0% 2% 3% 2%;
}
@media screen and (max-width:768px) {
  .activities_container {
    display: block;
  }
}
.tall_cards { 
  background-color: white;    
  border-radius: 1rem;
  border-bottom-style: solid;
  border-color: #F2F2F2;
}
#pomegues_card {
  background-color: white;    
  border-radius: 1rem;
  border-bottom-style: solid;
  border-color: #F2F2F2;
  margin-bottom: 11%;
}
#frioul_card {
  background-color: white;    
  border-radius: 1rem;
  border-bottom-style: solid;
  border-color: #F2F2F2;
}
#notre {
  background-color: white;    
  border-bottom-style: solid;
  border-color: #F2F2F2;
  border-radius: 1rem;
  margin-bottom: 11%;
}
#long {
  background-color: white;    
  border-radius: 1rem;
  border-bottom-style: solid;
  border-color: #F2F2F2;
}
.tall_pictures {
  object-fit: cover;
  width: 420px;
  height: 465px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
#pomegues_picture {
  object-fit: cover;
  width: 420px;
  height: 210px;
  border-top-left-radius: 1rem; 
  border-top-right-radius: 1rem;
}
#frioul_picture {
  object-fit: cover;
  width: 420px;
  height: 150px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
#notre_picture {
  object-fit: cover;
  width: 420px;
  height: 180px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
#longchamp_picture {
  object-fit: cover;
  width: 420px;
  height: 180px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
@media screen and (max-width:768px) {
  .activities_images {
    display: block;
  }
}
.cardsectiontext {
  text-align: start;
  font-size: medium;
  font-weight: bolder;
  margin-left: 5%;
}

/* set width 100% 
display:block (optional)
object-fit: cover
aspect-ratio: 3 / 1 */

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
}
footer #leftfooter {
  nav-down: auto;
}
#rightfoot {
  margin-right: 25%;
}

footer ul {
  background-color: #F2F2F2;
  list-style: none;
  height: 10em;
}
li {
  color: black;
  margin: 15px 8px 8px 8px;
}
a {
  text-decoration: none;
}
h3 {
  color: black;
}
body {
  background-color: white;
}
h2 {
  color: black;
}
h2:hover {
  cursor: pointer;
} 
#chart {
  color: black;
  position: absolute;
  right: 90px;
}
p {                                   
  color: black;
}
.fas {
  color: #0065FC;
}
.fa-sm {
  height: min-content;
  width: 15px;
  padding: 3px;
  border-style: solid;
  border-radius: 3rem;
  border-color: #F2F2F2;
}
.allstars {
  display: inline-flex;
  font-size: small;
  width: 25%;
}
@media screen and (max-width:768px) {
  footer {
    display: flex;
  }
}
/* dark blue = #0065FC
font-family: 'Raleway', sans-serif;
background-color: #F2F2F2
/* 
a:hover {
  color: red;
  transform: scaleX(1.021);
}
filtersdiv :hover {
  color: red;
  transform: scaleX(1.021)
}
a {
  text-decoration: none;
}
*/