html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.filter_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.filter_wrapper p {
  margin-right: 40px;
  font-weight: 900;
}
.filter_wrapper li {
  font-weight: bold;
  font-size: large;
  margin-right: 60px;
}
.fas-lg {
  color: #0065FC;
  margin-right: 5px;
  background-color: lightblue;
  border-radius: 1rem;
}