html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.filter_wrapper {
  margin-left: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.filter_wrapper p {
  margin-right: 40px;
  font-weight: 900;
}
.filter_wrapper li {
  display: block;
  align-items: center;
  justify-self: center;
  font-weight: bold;
  font-size: large;
  margin-right: 60px;
  border-style: solid;
  border-color: #f2f2f2;
  border-width: 1px;
  border-radius: 1rem;
}
.filter_wrapper a {
  text-decoration: none;
  font-size: 16px;
  padding-right: 10px;
}
.filter_wrapper .fa-lg {
  font-size: xx-large;
  color: #0065FC;
  margin-right: 5px;
  background-color: lightblue;
  border-radius: 3rem;
}